{
  "tg_bot_api_key": "your_key_is_here",
  "log_level": "info",
  "allowed_usernames": [],
  "radarr_host_url": "",
  "radarr_api_key": "",
  "no_poster_image_policy": "ignore",
  "kinopoisk.dev_api_key": ""
}